@font-face {font-family: "e-icon";
  src: url('iconfont.eot?t=1568101819946'); /* IE9 */
  src: url('iconfont.eot?t=1568101819946#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAcIAAsAAAAADggAAAa6AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCELgqNSIsRATYCJAMsCxgABCAFhGEHgREb7gsRFawTIPviwDZWHDrruWKWj7FfyBI6JXPP+fC4ae9HSEgQrzjU5nQVNm99JoROROhMPzuHibVMTYAzpz1XAiAHCFR9cb88goGwEeZQnp1SXfsKlFt+OvrG5oNz+IY+JZ7i78dc3dv22sy66F9aSFaDmGCiadQdWROJIyQRb5NEJJIJkVAIKZI7FuBt90kTXD0NBICEVDQFKa/s5oYIDqyPYNSk8WOHQ7TEwQVwCcSQyuNKTiArwUNk3mIeAVihfD/5Bi2JCDDgWbDP6jWmYhSKoxkNEZbG6CCWgmaXBXDeD2ABNAXAnYN7PCPbAD958llIEznMAGCBgX4uF7VHL0bv1DP1zvot9ZcbZjREYrFoxnNxdjsCC2zcVEAFARKYJv/L48CDhRogKpBfA3zTJ3WxQyCgAqJ2AgIQvWgPDtyBHAxQT4AA9U4CIlC/JQoOgcsgwAMNMwiwQENkCtQAAFmaaAOQAjDFSOwBy3CjioAbQGBtWgcL3mkg3aEGDStymmJkZlosLQ0Gtdo0cu/ZnI1JA992kD1nstOU04VnXdXr4nfdyhTHJYdCbvcmWJ0Ww5MZ4JE4j9/t/UN9B2V9YD8I3Sfp/AeIQvfL2sBBQnwHJI1/H9xW1INu0aDx8/fY7EE5kBUWPs5VHchByinJb1kLuh6KEm52uPV9OVC1t8nBuINpW4lvR8SeusV2ILPc5pCV09XW9aCWXZmnokqstajdN31T/KFQSPJHIp4tmRfPtsEzl/jqJIN/LUBrZWMgOJSTWS0j8xKjYad73APl/pJHcnMNeujml91Rkya6z60xaNrleC0rqlnK8Zq1FtRa5WAckRmJbBWslVgZnSNInU1XUkcYCmcj0HrqQOf3G3leDhBf8w1XLtzp/FJY3Ni0efuA3XLg7advE9+NJxHJX0DDcNNxjuDbOcGNcUmp3vm1xLo9e2xFqXc/l5VAOPw4DHrs0KVzmXoTaCjUXhb+maG5ujsRO7/z7Sr97XAGty00y78P3NABf59RZ174Xgae02ce/1paGwj66gbRJ4sbGwxYlVq6z2/zjFobXzr6vc5ftnJxTV8omtbHS1f0555fKy7pwmW635Dn1GRWG/vnnDL115dtMYvB0zbPc+cblh+daXc+xeKtOqPumhCEsrqLr9q+MFR9SS+n0au3v+jCWvI+7cOkQ1RbsuyHx5aJFRx8wlamclNeRmJ+27S/luzc2nHVuf7NXUJfpyH7oIPSGjhn8MfLhG1ZApdS16vW/qZeJ6vaCBF26mX/1+VK8bysvsNeLyxX5LLN/a9OXPZFOSl4mZ0lrhe7kJOmIhZaaexprEgVwBxP6Z3KOznqsq3XS5q+fqTF6+17924/vz0KRlT69OWp5XqmSrf+rsmOgnTrPBdLYHCvoAPr8G60z/h+oFegotflFYvLpxR4BZfgvUhFl0gLppQXn99K1VQsfGu1QCdTcbVIi71C52t0PBWLRdqMCsXM3zCeXusseIspDiSuyn77asnMhprS8b6Mxr/hVDaRCpgt07NbVOimJ5c4c2VfqT4rJZLCTUtF/6R8ka/pqa0q6pVoj9O2zjvncH1x7Waa1yx17Y7crrrK9I5plU1SDSt/zPuw2jzDq7TJ6V/apn/2UH1hwigmod2XMloea+IZXllp89jE8HBtx6X/mceYPcJlVxs9uzDo4qCDgw40WyRdNHN7blFMc+2XwqFHGR+EDv3s6+2PzpxlpZew+BP8KuYHJgoALGWuAbH7LrEuAGDBRIDYc4OZEQDATmCWK0Ni3/mANUelrhkRCzvINvlVOAq5n1+YPVTf7jdR/qNY8+7mWRcPTbH7IfsaEczqHMBvQDPXG/ji5wFrz2JxYaXeTmdWwyBjKvjaNQCQuDogRnUmfJR90Bp5JEAgwGoAg8nAogM4bCznISPPq3piO7mEJii7XoYZU8CCcGoAjeGDnECHg8DgeWDxLnAYlvOw4XOvCviXXIKHCHeUkU0GS2VggVE4ij8ay93zjXrASZ9xMoRRjdyc8nEOmRJ3YiBHr6JDkp9z3+H+6qmEG0lKz0OtTCucYfXcqs8HYnmde05uswM+BEYldUfxpz+Wux+rB+D0PPxkCKOapAu8F7F4/ZKV6WLD7oiBgkH9PcqiVZh43+H+XNaT0CHctKBUKot66GJab2+moVbPnaDj+cBDvorqPxccbGN6C4AEtgQyYQhLOMITFRGISNREIjLRYDNeTU323aItKy15TJp8gtuP7iA1dWwjjEs9rC1Xlt0fDzfSV9r9D1Z9+154wOnSP1afXN06NRMwmwEA') format('woff2'),
  url('iconfont.woff?t=1568101819946') format('woff'),
  url('iconfont.ttf?t=1568101819946') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1568101819946#e-icon-') format('svg'); /* iOS 4.1- */
}

.e-icon {
  font-family: "e-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.e-icon-italic:before {
  content: "\e702";
}

.e-icon-centerjustified:before {
  content: "\e6c6";
}

.e-icon-underline:before {
  content: "\e874";
}

.e-icon-heading:before {
  content: "\e79e";
}

.e-icon-color:before {
  content: "\e7bd";
}

.e-icon-youduiqi:before {
  content: "\e621";
}

.e-icon-zuoduiqi:before {
  content: "\e622";
}

.e-icon-font-size:before {
  content: "\e730";
}

.e-icon-bold:before {
  content: "\e8d6";
}

.e-icon-image:before {
  content: "\e6bb";
}

